ALFASAppId=
ALFASAppPassword=

C88AppId=
C88AppPassword=

UithofAppId=
UithofAppPassword=

AdminAppId=
AdminAppPassword=

IntroPassword=
MentorPassword=
CommitteePassword=

ALFASInfoSheetId=
ALFASMemberRange=Members!A1:E
ALFASTimeslotsRange=Timeslots!A1:C
ALFASEnrollmentsRange=Enrollments!A1:C

TimeZone=